<div class="light b-t">
  <div
    id="primary"
    class="content-area"
    data-bg-possition="center"
    data-bg-repeat="false"
    style="background: url('assets/img/icon/icon-circles.png');"
  >
    <main id="main" class="site-main" role="main">
      <div class="container">
        <div class="col-xl-8 mx-lg-auto p-t-b-80">
          <header class="text-center">
            <h1>Reset Password</h1>
            <img class="p-t-b-50" src="assets/img/icon/icon-login.png" alt="" />
          </header>
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea
                    rows="4"
                    cols="50"
                    style="resize: none;"
                    class="form-control form-control-lg"
                    wrap="hard"
                    placeholder="Token sent to your email..."
                    ngModel
                    name="token"
                    required
                  >
                  </textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="Email Address"
                    ngModel
                    #email="ngModel"
                    name="email"
                    required
                    email
                  />
                  <p
                    *ngIf="!email.valid && email.dirty"
                    class="text-danger"
                  >
                    Invalid Email
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="New Password"
                    ngModel
                    name="password"
                    #password="ngModel"
                    required
                    minlength="6"
                    maxlength="100"
                  />
                  <p class="text-center" *ngIf="password.touched && !password.valid">Password must be between 6-100 characters</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="Confirm Password"
                    ngModel
                    name="confirmPassword"
                    #confirmPassword="ngModel"
                    required
                  />
                  <p
                    class="text-danger"
                    *ngIf="
                      confirmPassword.value !== password.value &&
                      confirmPassword.dirty
                    "
                  >
                    Passwords don't match
                  </p>
                </div>
              </div>
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-success btn-lg btn-block"
                  [disabled]="!form.valid"
                >
                  <span [ngClass]="{ hide: submitting }">Reset Password</span>
                  <app-spinner [ngClass]="{ hide: !submitting }"></app-spinner>
                </button>
                <p *ngIf="!!error" class="text-danger text-center">
                  {{ error }}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
