<main>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 order-xl-1">
          <app-spinner *ngIf="fetching" class="center-absolute"></app-spinner>
          <div class="row" *ngIf="!fetching" [ngStyle]="{'margin-top': products.length === 0 ? '5rem' : '0rem'}">
            <p *ngIf="!!error" class="text-center text-danger m-auto">{{ error }}</p>
            <p *ngIf="products.length === 0" class="text-center m-auto">There's no products found.</p>
          </div>
          <app-product-result-list 
            *ngIf="!fetching && products.length > 0" [products]="products"
            (next)="onNext()"
            (previous)="onPrevious()">
          </app-product-result-list>
        </div>

        <div class="col-xl-3">
          <div class="sidebar">
            <div class="widget search-widget">
              <form>
                <input 
                  placeholder="Search Product" 
                  type="text" 
                  class="form-control form-control-lg"
                  (input)="search($event.target.value)" >
                <button class="pointer" >
                  <span class="icon icon-search"></span>
                </button>
              </form>
            </div>
            <div class="widget no-p">
              <ul class="sidebar-menu border-list">
                <li class="treeview" *ngFor="let category of categories">
                  <a class="pointer">
                    <span>{{ category.name }}</span><i class="icon icon-angle-left pull-left"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li>
                      <a *ngFor="let subcategory of category.subcategories"
                        [routerLink]="['/subcategory', subcategory.uri]">
                        <i class="icon icon-circle-o"></i> {{ subcategory.name }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="widget widget-tags">
              <h3>Brands</h3>
              <ul class="iconList">
                <li *ngFor="let brand of brands">
                    <a class="pointer" (click)="filter(brand.name)">{{ brand.name }}</a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
