<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card no-b">
        <div class="collapse show">
          <div class="card-body p-0">
            <div class="table-responsive" style="min-height: 80px;">
              <table class="table mb-0" *ngIf="!fetching && !!subcategories && subcategories.length > 0">
                <thead>
                  <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">No. Of Products</th>
                    <th class="text-center">Update</th>
                  </tr>
                </thead>
                <tbody *ngFor="let subcategory of subcategories" style="border-top: none;">
                  <tr class="category"><td colspan="3">{{ subcategory.category.name }}</td></tr>
                  <tr *ngIf="subcategory.subcategories.length === 0">
                    <td colspan="3">There's no subcategories added to this category</td>
                  </tr>
                  <tr 
                    *ngFor="let sub of subcategory.subcategories"
                    [ngClass]="{ 'new-highlight': !!id && sub.id === id }" >
                    <td style="width: 40%;">{{ sub.name }}</td>
                    <td>{{ sub.numberOfProducts }}</td>
                    <td>
                      <a [routerLink]="['/dashboard', 'subcategories', 'edit', sub.id ]" >
                        <i class="icon icon-pencil-square-o"></i> Edit item
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="!fetching && (!subcategories || subcategories.length === 0)" class="no-data">
                You haven't added any subcategories yet.
              </p>
              <div *ngIf="fetching" class="text-center mt-4">
                <app-spinner></app-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
