<app-header>
  <div class="row p-b-10">
    <div class="col">
      <h4><i class="icon-package"></i> Brands</h4>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-material nav-material-white">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', 'brands']" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="icon-list"></i> All
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', 'brands', 'new']" routerLinkActive="active">
          <i class="icon icon-clipboard-add"></i> Add New Brand
        </a>
      </li>
    </ul>
  </div>
</app-header>
<div class="content-wrapper" style="min-height: 975px;">
  <router-outlet></router-outlet>
</div>
