.image-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 225px;
}

.product-image {
  width: auto;
  height: auto;
  max-height: 225px;
}

.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
