<div class="card p-40 m-4">
  <app-spinner *ngIf="fetching"></app-spinner>
  <form (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="!fetching">
    <div class="form-row">
      <div class="form-group col-6">
        <label>Name</label>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Anglogue Cameras" 
          name="name" 
          [ngModel]="subcategory.name" 
          #name="ngModel" 
          required
          minlength="4" />
        <p class="text-danger" *ngIf="!name.valid && name.touched">
          Invalid Subategory Name
        </p>
      </div>
      <div class="form-group col-6">
        <label>Category</label>
        <select class="form-control" name="categoryId" [ngModel]="subcategory.categoryId" required >
          <option *ngFor="let category of categories" [value]="category.id" >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <button 
        type="button" 
        class="btn btn-danger btn-lg pointer"
        (click)="onDelete()" >
        <span *ngIf="!deleting">Delete</span>
        <app-spinner *ngIf="deleting"></app-spinner>
      </button>
      <button 
        type="submit" 
        class="btn btn-primary btn-lg pointer ml-auto" 
        [disabled]="!form.valid">
        <span *ngIf="!submitting">Update</span>
        <app-spinner *ngIf="submitting"></app-spinner>
      </button>
    </div>
    
    <p
      class="text-success text-center mb-2"
      *ngIf="!!process" >
      {{ process }}
    </p>
    <p class="text-danger text-center" *ngIf="!!error">
      {{ error }}
    </p>
  </form>
</div>
